
/*header*/
a{text-decoration: none !important;}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.logo-container{
  background-color: #2CA2F9;
  height: 51px;
  padding: 10px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1050;
  overflow: hidden;
}
.head-logo{
  float: left;
  height: 100%;
}
.head-logo img{
  height: 100%;
}
.search{
  float: right;
  height: 31px;
  padding: 3px 0 ;
}
.search img{
  height: 100%;
}
.navbox{
  position: fixed;
  top: 51px;
  width: 100%;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid #e4e4e4;
}
.container{
  padding: 0 10px;
  width: 100%;
  overflow: hidden;
}
.mint-navbar.container .mint-tab-item.is-selected{margin-bottom: 0}
.main{
  margin-top: 94px;

}


/*新歌 cell*/
.mint-cell{padding-left: 10px;min-height: 52px}
.mint-cell-wrapper{
  background-image: none;
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
}
.mint-cell-title{
  padding-right: 10px;
}

/*播放器*/
.auto-view{
  position: fixed;
  bottom: 0;
  left: 0;
  transition: all .5s;
  -webkit-transition: all .5s;
  width: 100%;
}
.audio_panel_hide{
  bottom: -64px;
}
.toggleContral{
  background: rgba(0,0,0,0.8) url("../images/open_icon.png") no-repeat center !important;

}
.audio-panel-control{
  background: rgba(0,0,0,0.8) url("../images/close_icon.png") no-repeat center;
  background-size: 25px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
}
.audio-pannel{
  height: 64px;
  background: rgba(0,0,0,0.8);
  padding: 7px;
  z-index: 999;
}
.player-img{
  /*background: url("../images/default.png") no-repeat center;*/
  /*background-size: 35px 35px;*/
  /*width: 35px;*/
  height: 100%;
  float: left;
  border-radius: 2px;

}
.player-status{
  float: left;
  width: 50%;
  height: 100%;
  margin-left: 3%;
}
.player-controls{
  float: right;
  width: 30%;
  height: 100%;
}
.player-play{
  background: url("../images/pause_icon.png") no-repeat center;
  background-size: auto 70%;
  width: 50%;
  height: 100%;
  float: left;
}
.player-nextSong{
  background: url("../images/next_icon.png") no-repeat center;
  background-size:  auto 70%;
  width: 50%;
  height: 100%;
  float: left;
}
/*rank*/
.rank-container .mint-cell-wrapper{
  padding: 10px 7px;
}
/*rank info*/
.rank-banner-wrap{
  height: 40px;
  width: 100%;
}
